.w3-text-theme {color:#311c2a !important}
.w3-theme {color:#fff !important; background-color:#311c2a !important}

.w3-theme-l5 {color:#000 !important; background-color:#f9f4f7 !important}
.w3-theme-l4 {color:#000 !important; background-color:#dfc8d8 !important}
.w3-theme-l3 {color:#000 !important; background-color:#c091b0 !important}
.w3-theme-l2 {color:#fff !important; background-color:#9f5b88 !important}
.w3-theme-l1 {color:#fff !important; background-color:#683c59 !important}
.w3-theme-d1 {color:#fff !important; background-color:#2c1926 !important}
.w3-theme-d2 {color:#fff !important; background-color:#271621 !important}
.w3-theme-d3 {color:#fff !important; background-color:#22141d !important}
.w3-theme-d4 {color:#fff !important; background-color:#1d1119 !important}
.w3-theme-d5 {color:#fff !important; background-color:#180e15 !important}

.w3-theme-l5 {color:#000 !important; background-color:#f8eff4 !important}
.w3-theme-l4 {color:#000 !important; background-color:#e8cbdb !important}
.w3-theme-l3 {color:#000 !important; background-color:#d097b7 !important}
.w3-theme-l2 {color:#fff !important; background-color:#b96394 !important}
.w3-theme-l1 {color:#fff !important; background-color:#90416d !important}
.w3-theme-d1 {color:#fff !important; background-color:#52253f !important}
.w3-theme-d2 {color:#fff !important; background-color:#492138 !important}
.w3-theme-d3 {color:#fff !important; background-color:#401d31 !important}
.w3-theme-d4 {color:#fff !important; background-color:#37192a !important}
.w3-theme-d5 {color:#fff !important; background-color:#2e1523 !important}


.w3-theme-light {color:#fff !important; background-color:#683c59 !important}
.w3-theme-dark {color:#fff !important; background-color:#1d1119 !important}
.w3-theme-action {color:#fff !important; background-color:#180e15 !important}

.w3-theme-complement-0 { color: #868168 !important}	/* Main Complement color */
.w3-theme-complement-1 { color:#000 !important; background-color: #D9D5C0 !important}
.w3-theme-complement-2 { color:#000 !important; background-color: #ADA88F !important}
.w3-theme-complement-3 { color: #55513F !important}
.w3-theme-complement-4 { color: #494224 !important}

.w3-theme-light-background { color:#000 !important; background-color: #E6E4DE }

.w3-theme-gray-background { background-color: #B2B2B2 }

.w3-testbackground { background-color: #EBE3C1 }
