.flex-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -webkit-flex-direction: row;
  align-content: flex-start;
  -webkit-align-content: flex-start;
  align-items: flex-start;
  -webkit-align-items: flex-start;
}
.flex-item {
  width: 300px;
  min-width: 300px;
}
