<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MARS</title>

    <link rel="stylesheet" href="../css/w3.css">
    <link rel="stylesheet" href="../css/theme-fvwm.css">
    <link rel="stylesheet" href="../css/w3-fiddles.css">
    <link rel="stylesheet" href="../css/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/flexbox.css">
    <link rel="stylesheet" href="../css/mars-preview.css">
    <link rel="stylesheet" href="../css/mars.css">
    <link rel="stylesheet" href="css/special.css">

    <style type="text/css">

      html, body { height:100%;}

      /* http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ */
      .vertical-centered {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }

      body {
        background-image: url(subtle_carbon.png);
        background-repeat:repeat;
      }

    </style>


    <style>
      .greenicon {
        color: w3-light-green;
        background-color: w3-theme-complement-2;
      }
    </style>

  </head>


  <body class="w3-testbackground" ng-app="myApp"
    style="width:100%; height:100%">


    <!-- header
    ––––––––––––––––––––––––––––––––––––––––––––––––––-->
    <header class="w3-container w3-card-4 w3-top w3-theme-d5" style="height:72px"
      ng-controller="HeaderController" ng-show="statics.showheader">
      <ul class="w3-navbar w3-xxlarge w3-theme-d5" style="margin-top:10px">
        <li class="w3-xxlarge" style="width:15%; opacity:1">MARS</li>
        <li>
          <button class="w3-btn w3-large w3-theme-d5" ui-sref="polls">
            Polls
          </button>
        </li>
        <li>
          <button class="w3-btn w3-large w3-theme-d5" ui-sref="sessionlist">
            Sessions
          </button>
        </li>
        <li><button class="w3-btn w3-large w3-theme-d5" ui-sref="help">
          Help</button></li>
        <li>
          <button class="w3-btn w3-large w3-theme-d5" ui-sref="about">
            About
          </button>
        </li>
        <div class="w3-right">
          <span ng-if="isuserset()">
            <li class="w3-dropdown-hover w3-theme-d5">
              <i class="fa fa-user w3-btn w3-theme-d5 w3-xlarge"></i>
              <div class="w3-dropdown-content w3-theme-light-background w3-card-4 w3-medium">
                <a href="#" ng-click="useradminbuttonhandler()">user admin</a>
                <a href="#" ng-click="logoutbuttonhandler()">logout</a>
              </div>
            </li>
            <span class="w3-small">Hi, {{ getnick() }}!</span>
          </span>
          <li>
            <i class="fa fa-home w3-btn w3-theme-d5 w3-xlarge" ui-sref="home"></i>
          </li>
        </div>
      </ul>
    </header>


    <!-- dynamic content placeholder
    ––––––––––––––––––––––––––––––––––––––––––––––––––-->
    <div ui-view style="margin-top:72px; width:100%; height:100%">
    </div>



    <script src="../js/angular.min.js"></script>
    <script src="../js/angular-ui-router.min.js"></script>
    <script src="../js/angular-sanitize.min.js"></script>
    <script src="../js/angular-cookies.min.js"></script>
    <script src="../js/sha256.min.js"></script>
    <script src="js/myapp.js"></script>
    <script src="js/homecontroller.js"></script>
    <script src="js/aboutcontroller.js"></script>
    <script src="js/pollscontroller.js"></script>
    <script src="js/logincontroller.js"></script>
    <script src="js/registrationcontroller.js"></script>
    <script src="js/headercontroller.js"></script>
    <script src="js/user.js"></script>
    <script src="js/addpollcontroller.js"></script>
    <script src="js/editpollcontroller.js"></script>
    <script src="js/editquestioncontroller.js"></script>
    <script src="../js/html.js"></script>
    <script src="js/Chart.bundle.min.js"></script>
    <script src="js/sessioncontroller.js"></script>
    <script src="js/statuscontroller.js"></script>
    <script src="js/resultcontroller.js"></script>
    <script src="js/groupsessioncontroller.js"></script>
    <script src="js/timecontroller.js"></script>
    <script src="js/statics.js"></script>
    <script src="js/sessionlistcontroller.js"></script>
    <script src="js/helpcontroller.js"></script>
    <script src="js/laddercontroller.js"></script>
    <script src="js/useradmincontroller.js"></script>
    <script src="js/randomcolor.js"></script>

  </body>
</html>
